.container-fluid {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

/* Navbar properties (fixed when scrolling) */
.fixed {
    position: fixed;
    height: 100px;
    top: 0;
    z-index: 3;
    background-color: #2c3e50;
}

/* Jumbotron */
.jumbotron {
    background-color: #1abc9c;
}

.jumbo-content {
    margin: 100px auto 0;
    height: 70vh;
    max-width: 50%;
    background-color: red;
}

/* Main body*/
/* Portfolio section */
#portfolio,
#contact {
    color: #000;
    margin-bottom: 40px;
}

/* About section */
#about {
    background-color: #1abc9c;
}

/* Contact-me section */
.contact-me li {
    list-style: none;
    margin: 55px 0;
}

/* ! btn classe di Bootstrap */
.btn {

}