body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 30px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.upper-header {
    display: inline-block;
    background-color: #2c3e50;
    color: #fff;
    padding: 25px 0;
    font-weight: bold;
}

.upper-header h2 {
    display: inline-block;
    font-size: 25px;
}

.upper-header,
.jumbo h1 {
    text-transform: uppercase;
}

.menu a>span:hover {
    color: #1abc9c;
    transition: 0.5s;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    color: inherit;
}

.menu li a {
    text-decoration: none;
    color: #fff;    
}

/* Navbar properties (fixed when scrolling) */
.fixed {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: #2c3e50;
    width: 100%;
}

/* Jumbotron */
.jumbo {
    padding: 40px 0;
    margin: 80px 0 auto;
}

.jumbo img {
    width: 240px;
}

.divide-box {
    margin: 30px 0;
}

.line {
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 3.5px;
    border-radius: 20px;
    margin: 0 15px;
}

.fa-star {
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.jumbo p {
    font-size: 20px;
}

/* Main body*/
/* Portfolio section */
#portfolio,
#contact {
    margin-bottom: 80px;
}

#portfolio .line,
#contact .line {
    background-color: #2c3e50;
}

#portfolio h2 {
    color: #2c3e50;
    margin-top: 50px;
}

.box-portfolio-image {
    position: relative;
    height: 100%;
    margin: 5px 0 20px;
}

.box-portfolio-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* :hover Portfolio section*/
.box-portfolio-image div {
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.box-portfolio-image:hover img {
    opacity: 0.5;
    transition: 1s;
}

.box-portfolio-image:hover div {
    border-radius: 10px;
    background-color: #1fbb9c99;
    height: 100%;
    width: 100%;
    visibility: visible;
}

.box-portfolio-image i {
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* About section */
#about {
    padding: 40px 0 60px;
}

.container_small {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.jumbo,
#about {
    background-color: #1abc9c;
    color: #fff;
}

#about p {
    font-size: 20px;
}

.btn-about {
    color: #fff;
    background-color: #1abc9c;
    border: 2px solid #fff;
    margin-top: 30px;
    padding: 16px 28px;
    border-radius: 5px;
}

/* Contact-me section */
#contact h2 {
    margin-top: 50px;
}

.border-form li {
    text-align: left;
    list-style: none;
    border-bottom: 1px solid #edeff1;
    margin-top: 20px;
    padding: 25px 0 35px;
    font-size: 20px;
}

.form-button {
    position: relative;
    color: #fff;
    background-color: #1abc9c;
    padding: 18px 30px;
    margin-top: 150px;
    font-size: 20px;
}

.form-button:before {
    position: absolute;
    top: -50%;
    left: 0;
    height: 2px;
    background-color: #edeff1;
    content: "";
    width: 810px;
}

/* Footer */
footer {
    color: #fff;
}

footer h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0 25px;
}

/* Footer columns */
.upper-footer {
    background-color: #2c3e50;
    padding: 70px 0 50px;
}

.upper-footer ul {
    padding-left: 0;
}

.upper-footer li {
    display: inline-block;
    list-style: none;
    padding: 12px 12px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 0 5px;
}

.upper-footer i {
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.upper-footer p {
    font-size: 20px;
}

.start-bs {
    color: #1abc9c;
}

/* Copyright part */
.lower-footer {
    background-color: #1a252f;
    padding: 25px 0 20px;
    font-weight: 500;
}

/* Responsive - Smartphones*/
@media screen and (max-width: 768px) {
    .upper-header {
        padding-bottom: 80px;
    }

    header h2 {
        padding-left: 25px;
    }

    .form-button:before {
        width: 440px;
    }

    .upper-footer {
        padding-top: 10px;
    }

    .upper-footer h4 {
        margin-top: 50px;
    }
}